<% @entries.each do |entry| %>
  <b><%= entry.enduser.nickname %></b>
  <%= attachment_image_tag entry.enduser, :profile_image, :fill, 70, 70, fallback: "no_image.jpg" %>
  <br><br><br>
<% end %>


<% if @messages.present? %>
  <% @messages.each do |message| %>
    <b><%= message.enduser.nickname %></b>
    <%= attachment_image_tag message.enduser, :profile_image, :fill, 70, 70, fallback: "no_image.jpg" %>
    <p><%= message.content %></p>
  <% end %>
<% else %>
  <p>メッセージはまだありません</p>
<% end %>


<%= form_for @message do |f| %>
  <%= f.text_field :content, :placeholder => "メッセージを入力してください" , :size => 70%>
  <%= f.hidden_field :dm_room_id, value: @room.id %>
  <%= f.submit "投稿" %>
<% end %>


