<div class="animsition">
<div class="container">
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-9">
      <% if enduser_signed_in? %>
        <b class="error"><%= flash[:notice] %></b>
        <h3>投稿ホーム</h3>

        <%= form_for(@post, url: post_index_path) do |f| %>

          <%= f.text_area :postbody, size: "60x5"%>
          <%= f.attachment_field :post_image, placeholder:"画像投稿" %>
            <br>
          <%= f.submit '投稿する' %>
            <br><br><br>
        <% end %>

<!--       --------ログイン時ユーザー投稿一覧--------- -->

      <table class="table table-striped">
        <tbody>
        <% @tag_posts.each do |tag_post| %>
              <tr>
                <th>
                  <%= tag_post.enduser.nickname %><br>
                  <%= attachment_image_tag tag_post.enduser, :profile_image, :fill, 70, 70, fallback: "no_image.jpg" %>
                </th>
                <td><%= tag_post.postbody %><br>
                  <%= attachment_image_tag tag_post, :post_image, :fill, 400, 300, format: 'jpeg' %>
                </td>
                <td>
                  <button type="button" class="btn btn-default active">
                      <%= link_to 'ユーザー詳細ページへ', enduser_path(tag_post.enduser.id),
                      :style=>"color:black;" %>
                    </button><br><br>

                  <button type="button" class="btn btn-success active">
                    <%= link_to "#{tag_post.post_comments.count}コメント", post_path(tag_post.id) , :style=>"color:white;"%>
                  </button>
                </td>
              </tr>
        <% end %>
        </tbody>
      </table>
      <%= paginate @tag_posts, class: "paginate" %>

      <!-- -------------ログイン時ユーザー投稿一覧終わり-------------- -->


      <!-- --------------非ログイン時のユーザー投稿一覧-------------- -->
      <% else %>
        <h2>大阪GAMESNSへようこそ！</h2>
        <p>ログインすれば投稿とコメントを見る以外の機能も使えるようになります！</p>
          <br>
      <table class="table table-striped">
        <tbody>
        <% @posts.each do |post| %>
          <tr>
            <th>
              <%= post.enduser.nickname %><br>
              <%= attachment_image_tag post.enduser, :profile_image, :fill, 70, 70, fallback: "no_image.jpg" %>
            </th>
            <td>
              <%= post.postbody %> <br>
              <%= attachment_image_tag post, :post_image, :fill, 400, 300, format: 'jpeg' %>
            </td>
            <td>
              <button type="button" class="btn btn-success active"><%= link_to "#{post.post_comments.count}コメント", post_path(post.id), :style=>"color:white;" %>
              </button>
            </td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
    <%= paginate @posts, class: "paginate" %>
    </div>
  </div>
</div>


