<div class="container">
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-10">
      <% if enduser_signed_in? %>
        <h1>投稿ホーム</h1>

        <%= form_for(@post, url: post_index_path) do |f| %>

          <p>投稿</p>
          <%= f.text_area :postbody, size: "60x5"%>
          <%= f.attachment_field :post_image, placeholder:"画像投稿" %>

          <%= f.submit '投稿' %>

        <% end %>


        <% @tag_posts.each do |tag_post| %>
        <%= tag_post.enduser.nickname %>
        <%= attachment_image_tag tag_post.enduser, :profile_image, :fill, 70, 70, fallback: "no_image.jpg" %>
        <%= tag_post.postbody %>
        <%= attachment_image_tag tag_post, :post_image, :fill, 400, 300, format: 'jpeg' %>
        <%= link_to 'ユーザー詳細ページへ', enduser_path(tag_post.enduser.id) %>
        <%= link_to "#{tag_post.post_comments.count}コメント", post_path(tag_post.id) %>
        </br>
        <% end %>

      <% else %>
        <h2>大阪GAMESNSへようこそ！</h2>
        <p>ログインすれば投稿とコメントを見る以外の機能も使えるようになります！</p>
          <br>
        <% @posts.each do |post| %>
          <%= post.enduser.nickname %>
          <%= attachment_image_tag post.enduser, :profile_image, :fill, 70, 70, fallback: "no_image.jpg" %>
          <%= post.postbody %>
          <%= attachment_image_tag post, :post_image, :fill, 400, 300, format: 'jpeg' %>
          <%= link_to "#{post.post_comments.count}コメント", post_path(post.id) %>

        <% end %>
      <% end %>



    </div>
  </div>
</div>


