<h1>Post#new</h1>
<p>Find me in app/views/post/new.html.erb</p>

<%= form_for(@post, url: post_index_path) do |f| %>

  <p>投稿</p>
  <%= f.text_area :postbody %>
  <%= f.attachment_field :post_image, placeholder:"画像投稿" %>

  <%= f.submit '投稿' %>

<% end %>


<h3>お気に入りゲームが同じ人の投稿</h3>

  <% @taguser.uniq.each do |enduser| %>
    <% enduser.posts.each do |post| %>
      <h4><%= enduser.nickname %></h4>
      <%= attachment_image_tag enduser, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
      <p><%= post.postbody %></p>
      <%= attachment_image_tag post, :post_image, :fill, 400, 300, format: 'jpeg' %>
      <%= link_to 'ユーザー詳細ページへ', enduser_path(post.enduser) %>
    <% end %>
  <% end %>


<p>投稿一覧</p>
