<div class="container">
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-10">
      <h1>投稿ホーム</h1>

      <%= form_for(@post, url: post_index_path) do |f| %>

        <p>投稿</p>
        <%= f.text_area :postbody, size: "60x5"%>
        <%= f.attachment_field :post_image, placeholder:"画像投稿" %>

        <%= f.submit '投稿' %>

      <% end %>

      

      <% @user_a.uniq.each do |a| %>
      <% a.posts.each do |post| %>
        <%= a.nickname %>
        <%= attachment_image_tag a, :profile_image, :fill, 70, 70, fallback: "no_image.jpg" %>
        <div><%= post.postbody %></div>
        <%= attachment_image_tag post, :post_image, :fill, 400, 300, format: 'jpeg' %>
        <%= link_to 'ユーザー詳細ページへ', enduser_path(post.enduser) %>
        <%= link_to "#{post.post_comments.count}コメント", post_path(post.id) %>
      <% end %>
      <% end %>


    </div>
  </div>
</div>


