<div class="container">
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-9">  
      <table class="table table-condensed">
        <tbody>
		  <tr>
			<th>
			  <%= @post.enduser.nickname %><br>
			  <%= attachment_image_tag @post.enduser, 
			  :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
			</th>
			<td>
			  <%= @post.postbody %><br>
			  <%= attachment_image_tag @post, :post_image, :fill, 400, 300, format: 'jpeg' %>
			</td>
		  </tr>
	    </tbody>
      </table>





<br><br>

<p>コメント数：<%= @post.post_comments.count %>件</p>

<table class="table table-striped">
  <tbody>
    <% @post.post_comments.each do |post_comment| %>
      <tr>
		<th>
		  <%= post_comment.enduser.nickname %><br>
		  <%= attachment_image_tag post_comment.enduser, :profile_image, :fill, 70, 70, fallback: "no_image.jpg" %>
		</th>
		<td><%= post_comment.comment %></td>
		<td><%= link_to 'ユーザー詳細ページへ', enduser_path(post_comment.enduser.id) %></td>
	  </tr>
    <% end %>
  </tbody>
</table>

<% if enduser_signed_in? %>
  <%= form_for [@post,@post_comment] do |f| %>
    <%= f.text_area :comment, placeholder:"コメントを入力" %>
    <%= f.submit "送信する" %>
  <% end %>

<% else %>
<% end %>