<h1>Enduser#edit</h1>
<p>Find me in app/views/enduser/edit.html.erb</p>


<%= form_for(@enduser) do |f| %>
  <p>ハンドルネーム</p>
  <%= f.text_field :nickname %>
  <p>プロフィール</p>
  <%= f.text_area :profile_text %>
  <%= attachment_image_tag @enduser, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
  <%= f.attachment_field :profile_image, placeholder:"アイコン画像" %>

　<h4>お気に入りのゲームを登録(複数可）</h4>
  <%= f.fields_for :enduser_gametags do |enduser_gametag| %>
	<%= render 'enduser_gametag_fields', f: enduser_gametag %>
  <% end %>

<%= link_to_add_association 'お気に入りのゲームを追加',f, :enduser_gametags %>
  <%= f.submit'変更を保存' %>
<% end %>