<div class="container">
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
      <div class="text-center">
        <h3>ユーザー詳細画面</h3>

        <B><%= @enduser.nickname %></B>
        <%= attachment_image_tag @enduser, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
        <br><br><br>

        <% if @enduser == current_enduser %>
          <b>メールアドレス</b>
          <%= @enduser.email %>
        <% else %>
        <% end %>

        <br><br><br>
        <b>プロフィール</b>
        <%= @enduser.profile_text %>
        <br><br><br>
        <b>お気に入りのゲーム</b>
        <% @gametags.each do |gametag| %>
          <%= gametag.tag_name %>
        <% end %>

        <br><br>


        <h3>ユーザー投稿一覧</h3>
        <table class="table table-striped">
          <tbody>
            <% @posts.each do |post| %>
              <tr>
                <th>
                  <%= post.enduser.nickname %><br>
                  <%= attachment_image_tag post.enduser, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></th>
                <td>
                  <%= post.postbody %><br>
                  <%= attachment_image_tag post, :post_image, :fill, 400, 300, format: 'jpeg' %>
                </td>
                <td>
                  <button class="btn btn-success"><%= link_to "#{post.post_comments.count}コメント", post_path(post.id), :style=>"color:white;"%>
                  </button>
                </td>
                <% if @enduser == current_enduser %>
                  <td>
                    <button class="btn btn-danger">
                      <%= link_to "削除", post_path(post.id), method: :delete, :style =>"color:white;" %>
                    </button>
                  </td>
                <% else %>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>

        <!-- DM機能 -->
        <% if @isRoom == true %>
          <a href="/dm_rooms/<%= @roomId %>" class="btn btn-primary btn-lg">チャットへ</a>

        <% else %>
          <% if @enduser != current_enduser %>
            <%= form_for @room, url: dm_room_path,html: {method: 'GET'} do |f| %>
              <%= fields_for @entry do |entry| %>
                <%= entry.hidden_field :enduser_id, value: @enduser.id %>
              <% end %>

              <%= f.submit "DMを送る" %>
            <% end %>
          <% end %>
        <% end %>
    </div>
    </div>
  </div>
</div>


