<h1>Enduser#show</h1>
<p>Find me in app/views/enduser/show.html.erb</p>


<% if @isRoom == true %>

  <p class="user-show-room"><a href="/rooms/<%= @roomId %>" class="btn btn-primary btn-lg">チャットへ</a>

<% else %>

<%= form_for @room, url: dm_rooms_path do |f| %>
  <%= fields_for @entry do |e| %>
    <%= e.hidden_field :enduser_id, value: @enduser.id %>
  <% end %>

  <%= f.submit "DMを送る" %>

<% end %>



<h3><%= @enduser.nickname %></h3>
<%= attachment_image_tag @enduser, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>

<h3>メールアドレス</h3>
<%= @enduser.email %>

<h3>プロフィール</h3>
<%= @enduser.profile_text %>

<h3>お気に入りのゲーム</h3>
<% @gametags.each do |gametag| %>
  <%= gametag.gametag %>
<% end %>

<br><br>

<% if @enduser.id == current_enduser.id %>
  <%= link_to "プロフィール編集", edit_enduser_path(@enduser) %>

<% end %>


<h2>あなたの投稿</h2>

<% @posts.each do |post| %>
  <h4><%= post.enduser.nickname %></h4>
  <%= attachment_image_tag post.enduser, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
  <p><%= post.postbody %></p>
  <%= attachment_image_tag post, :post_image, :fill, 400, 300, format: 'jpeg' %>
  <%= link_to "#{post.post_comments.count}コメント", post_path(post.id) %>
<% end %>
<% end %>
