<!DOCTYPE html>
<html>
  <head>
    <title>Gamesns</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        
        <div class="col-xs-2">
          <h1>GameSns</h1>
        </div>
        
        <div class="col-xs-10">
          <% if enduser_signed_in? %>
            <ul class="header-list">
              <li><%=link_to '投稿', new_post_path %></li>
              <li><%= link_to 'マイページ', enduser_path(current_enduser.id) %></li>
              <li><%= link_to 'ログアウト', destroy_enduser_session_path, method: :delete %></li>
            </ul>

          <% else %>
            <ul class="header-list">
              <li><%=link_to 'ログイン', new_enduser_session_path %> </li>
              <li><%=link_to '新規登録', new_enduser_registration_path %></li>
            </ul>
          <% end %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
